@font-face {
    font-family: 'Lato';
    src: url('fonts/Lato/Lato-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'Caveat';
    src: url('fonts/Caveat/Caveat-VariableFont_wght.ttf') format('truetype');
}

html body {
    background-color: #2D2F2E;
}

#TextoPrincipal {
    font-family: 'Caveat', cursive;
    color: #E8E8E8;
}

#TextoSecundario {
    font-family: 'Lato', cursive;
    color: #FFBF00;
}




/*NAVBAR E ITEMS DE LA MISMA*/
#navBar
{
    background-color: #2D2F2E !important;
    font-family: 'Lato', cursive;
    border-bottom: #FFBF00 solid 1px;
}
.nav-link {
    color: #E8E8E8 !important;
} .nav-link:hover{
    color: #FFBF00 !important;
    transform: scale(1.1);
    transition: all 0.3s ease;
}
.nav-item{
    margin-left: 20px;
    margin-right: 20px;
    font-size: 25px;
}
/*FIN DE LA NAVBAR E ITEMS DE LA MISMA*/

/*BOTON DESPEGABLE DEL NAV*/
.dropdown-toggle:focus{
    color: #FFBF00 !important;
    transform: scale(1.1);
    transition: all 0.3s ease;
}
.dropdown-item:active{
    background-color: #FFBF00 !important;
}
/*FIN DEL BOTON DESPEGABLE DEL NAV*/

/**BOTON RESPONSIVE DEL NAV*/
#navBar-T {
    color: #ffff;
    background-color: #FFBF00 ;
}  
.navbar-toggler-icon {
    color: aliceblue !important;
}
/**FIN DEL BOTON RESPONSIVE DEL NAV*/

/*CLASES BTN DEL NAV PARA EL FORMULARIO DE BUSCAR*/
#navBar .btn{
    color: #FFBF00 !important;
    border-color: #FFBF00 !important;
} #navBar .btn:hover{
    background-color: #FFBF00 !important;
    color: #2D2F2E !important;
}
/*FIN DE LAS CLASES BTN DEL NAV PARA EL FORMULARIO DE BUSCAR*/

/*INICIO DE BOTOM CUENTA
.nav-itemUser{}
*/

.nav-link i{
    font-size: 25px;
    margin-right: 5px;
    color: #ffffff;
} .nav-link:hover i{
    color: #FFBF00;
    transform: scale(1.1);
    transition: all 0.3s ease;
}
/*FIN DE IBOTOM CUENTA*/

/*NOTA: TENER EN CONSIDERACION MULTIPLES TAMAÑOS EN LA BARRA NAV SEGUN EL DOCUMENTO HTML AL CUAL SE INGRESE*/
#icono img {
    height: 75px;
    margin-left: 20px;
    margin-top: 10px;
    margin: center ;
}



#carouselExampleAutoplaying {
    margin-top: 20px !important;
    background-color: #2D2F2E;
}

.img-Carou {
    height: 400px;
    width: 76%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}


/* APARTADO DE REDES */
.redes {
    display: flexbox;
    text-align: center;
    margin-top: 20px;
}

.redes .fi {
    padding-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 40px;
    color: #FFBF00;
}.redes .fi:hover {
    color: #E8E8E8;
    transform: scale(1.2);
    transition: all 0.3s ease;
}

.redesLink {
    
    text-decoration: none;
}
/*APARTADO DE REDES FIN*/