#nav_Bar {
  margin: 0%;
  padding: 0%;

  


}

#nav_Container {
  background-color: #2D2F2E;
  padding-bottom: 10px;

}



#nav_Nav *{
  margin-right: 30px;


  font-size: 22px;
  
  background-color: #2D2F2E;
  
}

#nav_Nav a{
  color: white;
} #nav_Nav a:hover{
  color: #E6B325;
  background-color: #2D2F2E;
  border-radius: 10px;
}




#Boton{
  color: white;
  border-color: #E6B325;
} #Boton:hover{
  background-color: #E6B325;
  border-color: #E6B325;
  color: black;
}



#togglerNav{
  background-color: #E6B325;
}